.nav-con{
    background:black;
    padding: 10px 10px;
    border-bottom: 1px solid #fff;
    z-index: 9999;
}

.nav-con>*{
    z-index: 600!important;
}

.nav-lg-flex{
    display: flex;
    flex-direction: row;

}

.navbar-link{
    color:#ffffff;
    text-decoration:none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
}

.nav-row-lg{
    display: flex!important;
}

.nav-row-sm{
    display: none!important;
}


.active-nav-link{
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}


@media only screen and (max-width: 1000px){
    .nav-row-sm{
        display: flex!important;
    }

    .nav-row-lg{
        display: none!important;
    }
}