.nav-con{
    background:black;
    padding: 0 1%;
    border-bottom: 1px solid #fff;

}

.navbar-link{
    color:#ffffff;
    text-decoration:none;
     font-size: 16px;
    text-align: center;
    padding: 10px 30px;
}

.nav-row-lg{
    display: flex;
}

.nav-row-sm{
    display: none;
}

@media only screen and (max-width: 1000px){
    .nav-row-sm{
        display: flex;
    }

    .nav-row-lg{
        display: none;
    }
}