.highlighted-text {
    background-color: darkgoldenrod;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.highlighted-text:hover {
    background-color: goldenrod;
}

.tooltip {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.highlighted-text:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.add-note-btn {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.add-note-btn:hover {
    background-color: #0056b3;
}

.add-note-btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
}


.mark-text{
    padding: 10px 300px;

}

.comments-popup{
    width: 1000px;
    max-width: 1200px;
}


.comment-canvas-btn{
    position: fixed;
    bottom: 10px;
    left: 10px;
    border-radius: 100px;
    padding: 15px;
    border: 1px solid #fff;
    z-index: 100!important;
}

.comments-flex{
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow-y: visible;
    overflow-x: hidden;
}

.comment-card{
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-top: 10px;
}

.comment-text{
    word-break: break-all;
    color: #989898;
}

.profile_photo_comment{
    height: 50px;
    object-fit: cover;
    width: 50px;
    border-radius: 200px;
    border: 1px solid white;
}

.article-detail-info-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    column-gap: 10px;
    width: 100%;
    padding: 30px 320px;

}

@media screen and (max-width: 1600px) {
    .mark-text{
        padding: 10px 10px;

    }

    .article-detail-info-flex{
        padding: 30px 10px;
    }
}

@media screen and (max-width: 800px) {
    .add-note-btn{
        right: 33%;
    }
}