.page-container{
    background: #1c1c1c;
    color: #fff;
    z-index: 1;
}



.titles{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.header-link-row{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.up-writer-btn{
    width: 250px;
    padding: 10px 30px;
    background: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #FFFFFF;
    color: #000;
    border-radius: 10px;
    transition: .4s;
    text-align: center;
}

.up-user-btn{
    width: 250px;

    padding: 10px 30px;
    background: #000000;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #000000;
    transition: .4s;
    text-align: center;
    color: #FFFFFF;
}

.up-writer-btn:hover{
    background: transparent;
    border: 2px solid #FFFFFF;
    transition: .4s;
    color: #fff;
}

.up-user-btn:hover{
    background: transparent;
    color: #000000;
    transition: .4s;
    border: 2px solid #000000;
}


.header-img{
    height: 600px;
    object-fit: cover;


}

.popular-row{
    padding: 0 1%;
}

.article-card {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #fff;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    row-gap: 10px;
    transition: .4s;
    z-index: 1;
    position: relative;
}

.article-card:hover{
    box-shadow: rgb(255, 255, 255) 0px 5px 15px;
}

.article-card:hover .article-card-img{
    transform: scale(1.02);
    transition: .4s;
}

.article-card-img{
    object-fit: cover;
    position: relative;
    height: 250px;
    transition: .4s;
    z-index: 0;

}

.article-card-title{
    font-size: 24px;
    font-weight: bold;
}

.article-card-desc{
    font-size: 16px;
    font-weight: bold;
    padding: 0 2%;
    text-align: center;
}


.article-card-like {
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 20;
    background: transparent;
    border-radius: 200px;
    border: none;
}


/*btn*/

.animation-btn {
    width: fit-content;
    color: #fff;
    text-decoration: none;
}

.animation-btn-child {
    line-height: 40px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}


.animation-btn-child {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}
.animation-btn-child::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.animation-btn-child:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.animation-btn-child::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgb(255, 255, 255);
    transform: scale(1.2,1.2);
}
.animation-btn-child:hover::after {
    opacity: 1;
    transform: scale(1,1);
}


.writer-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}


@media screen and (max-width: 1000px) {
    .popular-row{
        padding: 0 10%;
    }

    .header-link-row{
        flex-direction: column;
        row-gap: 20px;
    }

}