.my-notes-process-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    z-index: 100;
}

.my-notes-process-see{
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    padding: 5px 10px;
    background: #5d5c5c;
    transition: .4s;
    z-index: 101!important;
    display: block;
}

.my-notes-process-bin{
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background: #5d5c5c;
    padding: 0 10px;
    transition: .4s;
    z-index: 101!important;

}

.my-notes-process-bin:hover{
    transform: scale(1.05);
    transition: .4s;
}


.my-notes-process-see:hover{
    transform: scale(1.05);
    transition: .4s;
}