.profile_photo{
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 200px;
    border: 3px solid white;
}

.profile_inp{
    border:1px solid #ffffff;
    height:40px;
    border-radius: 5px;
    padding-left: 5px;
}

.profile_btn{
    background: #ffffff;
    color: #000000;
    font-size: 20px;
    height: 40px;
    border-radius: 5px;
}

.profile_card{
    border: 3px solid #404040;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(to right, #2b2b2b, #373535);

}

.profile-card-left-info{
    border-bottom: 1px solid #ffffff;
    height: 40px;
}

.profile-card-right-key{
    font-size: 20px;
}


.profile-card-right-value{
    font-size: 20px;
    font-weight: bold;
}

.add-article-btn-profile{
    position: absolute;
    top: 0px;
    right: 2%;
    width: fit-content;
}
.add-article-btn-profile-sm {
    display: none;
}

.profile-article-card-btns{
    display: flex;
    flex-direction: row;
}

.profile-article-card-btns>button{
    width: fit-content;
    padding: 5px 30px;
}

@media only screen and (max-width: 1200px) {
    .profile-col-2{
        margin-top: 100px;
    }

    .add-article-btn-profile{
        display: none;
    }

    .add-article-btn-profile-sm{
        display: block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: fit-content;
        padding: 10px 30px;
        border-radius: 10px;
    }
}